<div>
  <h1>{{title}}</h1>
  <div class="content-container">
    <div class="input-grid">
      <mat-form-field>
        <input matInput placeholder="What needs to be done?" [(ngModel)]="taskName">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="set task priority" [(ngModel)]="priority">
      </mat-form-field>
      <button mat-primary-button (click)="addTask()" class="align-item-grid-center" [disabled]="!taskName || !priority">
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <div tabindex="0" class="list-grid" *ngFor="let task of taskList | keyvalue"
      (keydown)="focusOnListItem($event,task)">
      <mat-checkbox [checked]="task.value.isChecked" (change)="task.value.isChecked =  true;"
        class="align-item-grid-center">
      </mat-checkbox>
      <div *ngIf="!task.value.isEditMode; else editMode" class="label-grid">
        <div mat-line (dblclick)="task.value.isEditMode = true" class="saved-task-label">{{task.value.name}}</div>
        <div mat-line (dblclick)="task.value.isEditMode = true" class="saved-task-label"> {{task.value.priority}}</div>
      </div>
      <ng-template #editMode>
        <div class="label-grid">
          <mat-form-field mat-line *ngIf="task.value.isEditMode">
            <input matInput [(ngModel)]="task.value.changedValue">
          </mat-form-field>
          <mat-form-field mat-line *ngIf="task.value.isEditMode">
            <input matInput [(ngModel)]="task.value.priority">
          </mat-form-field>
        </div>
      </ng-template>
      <div layut="row" class="align-item-grid-center">
        <a *ngIf="!task.value.isEditMode" mat-button (click)="task.value.isEditMode = true;">
          <mat-icon>edit</mat-icon>
        </a>
        <a mat-button *ngIf="task.value.isEditMode" (click)="saveChanges(task)">
          <mat-icon>save</mat-icon>
        </a>
        <a mat-button (click)="removeTask(task)">
          <mat-icon>delete</mat-icon>
        </a>
      </div>

    </div>
    <div class="delete-button">
      <a mat-raised-button (click)="deleteAllSelectedItems()">
        DELETE SELECTED
      </a>
    </div>
  </div>
</div>
