.content-container {
  height: auto;
  background-color: #fafafa;
  padding: 20px;
  width: 100%;
  height: 100%;

  .input-grid {
    display: grid;
    grid-template-columns: 45% 30% 15%;
    grid-gap: 5%;
  }

  .list-grid {
    display: grid;
    grid-template-columns: 2% 73% 15%;
    grid-gap: 5%;
    padding: 5px;
  
    .saved-task-label {
      padding: 20px 0;
    }

    .label-grid {
      display: grid;
      grid-template-columns: 52% 44%;
      grid-gap: 7%;
    }

    mat-list-item:focus {
      background: red;
    }  
    
  }
  
  .list-grid:focus {
    background-color: rgba(0, 0, 0, 0.12);
    outline: 1px solid rgba(0, 0, 0, 0.12);
    cursor: pointer;
  }
  
  .cursor-pointer {
    cursor: pointer;
  }
  
  .align-item-grid-center {
    align-self: center;
    justify-self: center;
  }
  
  a,button {
    color: teal;
    cursor: pointer;
  }
  
  .delete-button {
    display: grid;
    justify-items: end;
    padding-top: 10px;
  }
  
}