<div >
  <h1>{{title}}</h1>
  <div  class="content-container">
    <div class="input-grid">
      <mat-form-field>
        <input matInput placeholder="What needs to be done?" [(ngModel)]="taskName">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="set task priority" [(ngModel)]="priority">
      </mat-form-field>
      <a mat-primary-button (click)="addTask()" class="item-button">
        <mat-icon>add</mat-icon>
      </a>
    </div>
    <div class="list-grid" *ngFor="let task of taskList | keyvalue">
      <div *ngIf="!task.value.isEditMode; else editMode" class="label-grid">
        <div mat-line (dblclick)="task.value.isEditMode = true">{{task.value.name}}</div>
        <span mat-line> {{task.value.priority}}</span>
      </div>
      <ng-template #editMode>
        <div class="label-grid">
          <mat-form-field mat-line *ngIf="task.value.isEditMode">
            <input matInput [(ngModel)]="task.value.changedValue">
          </mat-form-field>
          <mat-form-field mat-line *ngIf="task.value.isEditMode">
            <input matInput [(ngModel)]="task.value.priority">
          </mat-form-field>
        </div>
      </ng-template>
      <div layut="row" class="last-grid-item">
        <a *ngIf="!task.value.isEditMode" mat-button (click)="task.value.isEditMode = true;">
          <mat-icon>edit</mat-icon>
        </a>
        <a mat-button *ngIf="task.value.isEditMode" mat-button (click)="saveChanges(task)">
          <mat-icon>save</mat-icon>
        </a>
        <a mat-button (click)="removeTask(task)">
          <mat-icon>delete</mat-icon>
        </a>
      </div>

    </div>
  </div>
</div>
