

.content-container {
  height: auto;
  background-color: rgba(0, 0, 0, 0.12);
  padding: 20px;
  width: 100%;
  height:100%;

  .input-grid {
    display: grid;
    grid-template-columns: 45% 30% 15%;
    grid-gap: 5%;
  }

  .item-button {
    align-self: center;
    justify-self: center;
  }
}

.list-grid {
  display: grid;
  grid-template-columns: 80% 15%;
  grid-gap: 5%;
}

.label-grid {
  display: grid;
  grid-template-columns: 57% 35%;
  grid-gap: 5%;
}

.last-grid-item{
  align-self: center;
  justify-self: center;
}
